* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* text-decoration: none;
    list-style: none; */
}

header.header {
    font-family: 'Open Sans', sans-serif;
}

nav {
    background-color: #01295F;
    width: 100%;
    height: 80px;
    position: fixed;
}

.checkBtn {
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    font-size: 30px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

label.logo {
    color: #fff;
    font-size: 25px;
    font-family: cursive;
    font-weight: bold;
    padding: 0 100px;
    line-height: 80px;
}

nav ul {
    float: right;
    margin-right: 50px;
}

nav ul li {
    display: inline-block;
    margin: 0 5px;
    line-height: 80px;
}

ul li a {
    color: #fff;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
    list-style: none;
}

a.active, a:hover {
    background-color: #FFB30F;
    transition: .3s;
}



@media (max-width: 952px) {
    label.logo {
        font-size: 20px;
        padding-left: 50px;
    }

    ul li a {
        font-size: 1rem;
    }
}

@media (max-width:858px) {
    .checkBtn {
        display: block;
    }

    #headerList {
        background-color: #437F97;
        height: 100vh;
        width: 100%;
        position: fixed;
        text-align: center;
        left: 0;
        top: 100%;
        transition: .5s;
    }

   nav ul li {
        display: block;
        line-height: 30px;
        margin: 50px 0;
    }

    nav ul li a {
        font-size: 20px;
    }

    a.active, a:hover {
        background: none;
        color: #FFB30F;
    }

    #check:checked ~ ul {
        top: 80px;
    }
}


section {
    padding: 40px 0;
    text-align: center;
}


section header {
    color: #01295F;
    margin: 60px;
}

header h1 {
    font-family: 'Open Sans', sans-serif;
    margin: 10px;
}

header .artist {
    font-weight: 600;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 2px;
    background: #01295F;
    padding: 4px 10px;
    border-radius: 20px;
}



div.img img{
    width: 15%;
    border-radius: 20px;
    position: relative;
    bottom: 20px;
    z-index: -1;
}

h3#heading {
    margin: 2rem;
    font-size: 30px;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    color: #01295F;
}


div.list {
    text-align: left;
    
}

div.list ol li {
    margin: 10px 50px;
}

#footer footer{
    background-color: #01295F;
    height: 3rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    letter-spacing: 2px;
    z-index: -1;
}